.header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.with-top-padding {
  padding-top: 120px;
}

.title {
  color: #de8667;
}

.subtitle {
  color: black;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 26px;
}
