.header {
  position: fixed;
  top: 46px;
  left: 70px;
  right: 70px;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.buttons-container {
  display: flex;
  gap: 31px;
  align-items: center;
}

.home-link {
  text-decoration: none;
  /* color: black; */
}

.home-link:visited {
  color: inherit;
}
