.app {
  position: relative;
  height: 100vh;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10rem;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 100px;
}
