.modal-overlay {
  z-index: 9999;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: block;
  background: white;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  width: 40%;
  /* height: 30%; */
  padding: 32px;
  border-radius: 16px;
}

@media only screen and (max-width: 600px) {
  .modal-box {
    /* height: 80%; */
    width: 80%;
  }
}
